:root {
    --bg: #11111b;
    --text-bg: #cdd6f4;
    --main: 	#89b4fa;
    --duration: 0.4s;
}

html {
    background-color: var(--bg);
    color: var(--text-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timer {
    height: 200px;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    color: var(--bg);
}

#time {
    font-family: 'Roboto', sans-serif;
    font-size: calc(15px + 8vw);
}

.main {
    height: 50vh;
    width: 50vw;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
}

.main:hover .hidden {
    color: var(--text-bg);    
}

.button:hover .hidden {
    color: var(--main);
}

.utils {
    width: 500px;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

a {
    padding: 5px;
    font-size: 4vw;
    transition-duration: var(--duration);
}

a:hover {
    color: var(--main);
    cursor: pointer;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10 and IE 11 */
    user-select: none;         /* Standard syntax */
}
