:root {
    --bg: #1e1e2e;
    --text-bg: #cdd6f4;
    --main: 	#89b4fa;
}

html {
    background-color: var(--bg);
    color: var(--text-bg);
}

.timer {
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

#time {
    font-family: 'Roboto', sans-serif;
    font-size: 150px;
    transition-duration: 0.4s;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.utils {    
    display: flex;
    justify-content: space-around;
}

a {
    font-size: 50px;
    transition-duration: 0.4s;
}

a:hover {
    color: var(--main);
    transition-duration: 0.4s;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
